
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-family: var(--raleway-font);
}

:root{
    --background-color: #050505;
    --btn-color-bckgr: #0A0A0A;
    --card-bckgr-color: #161616;
    --white: #FFFFFF;
    --grey: #9E9E9E;
    --raleway-font: 'Raleway', sans-serif;
    --audiowide-font:'Audiowide', cursive;
    --blue-links:#2C99FF;
    --blue-links-hover:#2881d4;
    --html: #F06529;
    --css: #2965F1;
    --js: #F0DB4F;
    --boostrap: #563D7C;
    --php: #8993BE;
    --mysql: #F29111;
    --git: #F34F29;
    --white-grey:rgba(255, 255, 255, .70);
}

html{
    min-width: 320px;
    scroll-behavior: smooth;
}

#header{
    background: linear-gradient(0deg, rgba(5,5,5,.7) 35%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(10px);
}

header{
    z-index: 1;
}

body{
    background-color: #050505;
}

.card-bckgr-color{
    background: var(--card-bckgr-color);
}


.background{
    background: var(--background-color);
}

h1,h2.h3,h4,h5,h6{
    color: var(--white);
}

a, ul{
    text-decoration: none;
    list-style: none;
}

.color-text-grey{
    color: var(--grey);
}


img{
    width: 100%;
    height: auto;
}


#main{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.appears-nav{
    transform: translateX(0) !important;
}

.nav-item{
    padding: 0 10px;
}

.nav-item > .nav-link{
    font-weight: 500;
    color: var(--white);
    transition: all 500ms;
    position: relative;
    font-size: clamp(15px, 1rem, 1.5rem);
}

.nav-item > .nav-link:not(#CTA)::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--white);
    height: 1.5px;
    transition: all 200ms;
}

.nav-item > .nav-link:hover:not(#CTA)::before{
    width: 100%;
}

#xmark{
    cursor: pointer;
}

#CTA{
    transition: all 200ms;
    font-weight: 600;
}

#CTA:hover{
    outline: 1px solid rgba(255, 255, 255, .70);
    transform: scale(1.05);
}


.flag img{
    max-width: 40px;
    max-height: 30px;
}

#my-name{
    font-family: var(--audiowide-font);
    font-size: clamp(20px, 2vw, 2rem);
}

.currently{
    font-size: clamp(16px, 1vw, 1rem);
    letter-spacing: 1px;
}

.child-container{
    margin-top: 100px;
}

.bottom-section-main{
    background-image: url(images/ME\ copia.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 40vh;
    transition: all ease 150ms;
}

.location{
    font-size: clamp(13px, 1vw, 1.4rem);
}

.lang{
    font-size: clamp(12px, .9vw, 1.3rem);
}

.presentation{
    padding-left: 6rem;
}

.social-item{
    transition: all 200ms;
}

.social-item:hover{
    transform: translateY(5px);
    transform: scale(1.1);
}


    /* /////////////////// */
        /* ABOUT SECTION */
    /* /////////////////// */


#about{
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.img-back img:not(.polygon){
    max-width: 400px;
}

.polygon{
    z-index: -100;
    max-width: 500px;
    transform: rotate(-90deg);
}

.me-hi{
    filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.4));
}


.my-info span{
    font-size: clamp(.812rem, 1rem, 1.5rem);
    color: var(--grey);
}

.intro{
    font-size: clamp(.6rem, 1.8vh, 1.3rem);
}


.hobbies span{ 
    font-size: clamp(10px, 1.4vh, 3rem)
}

.hobbies img{
    width: 20px;
}



    /* /////////////////// */
        /* EDUCATION SECTION */
    /* /////////////////// */


.no-exp{
    color: #9E9E9E;
    font-size: 13px;

}

.link-proyects, .link-proyects .bi{
    color: var(--blue-links) !important;
}

.link-proyects:hover, .link-proyects:hover .bi {
    color: var(--blue-links-hover) !important;
}


.open-sans > *{
    font-family:'Open Sans', sans-serif !important;
}

.globe, .email, .phone{
    font-size: 15px;
}

.globe i, .email i, .phone i{
    font-size: 20px;
}

.sm-fs{
    font-size: 15px;
}

.p-d-ls{
    letter-spacing: 1.5px;
    margin-left: 10px;
}

#html{
    background-color: var(--html);
}

#css{
    background-color: var(--css);
}

#js{
    background-color: var(--js);
    color: #050505;
}

#boostrap{
    background-color: var(--boostrap);
}

#php{
    background-color: var(--php);
}

#mysql{
    background-color: var(--mysql);
}

#git{
    background-color: var(--git);
}


     /* /////////////////// */
        /* PROjECTS SECTION */
    /* /////////////////// */


#projects{
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background-image: url(images/Rainbow.png);
    background-position: center;
    background-size: 100vw;
    background-repeat: repeat-y;
}

.card{
    width: 20rem;
    margin: auto;
}    

.card img{
    object-fit:contain;
    height: 300px;
    background-color: #191818;
} 

.ligth-border{
    border: 1px solid rgb(255 255 255 / 15%);
}

.card-container > div{
    margin: 20px 0 !important;
}

.links a:hover i{
    color: var(--grey);
}

.card-img-top{
    max-height: 300px;
    height: 100%;
}

.color-skills{
    color: #7FFFD4;
}


     /* /////////////////// */
        /* FOOTER SECTION */
    /* /////////////////// */



.footer-nav li:hover a{
    color: var(--white);
} 

.container-img img{
    max-width: 300px;
}

.img-footer{
    left: -20px;
}

@media screen and (max-width:992px){

    
    .presentation{
        padding-left: inherit;
    }

    #education{
        height: unset;
    }


}


@media screen and (max-width:767px) {

    .navbar-menu-mobile{
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        transform: translateX(-100%);
        transition: all ease 200ms;
        background-color: #0A0A0A;   
        z-index: 500;     
    }

    .navbar-nav{
        text-align: center;
    }

    .navbar-nav > li{
        margin-bottom: 20px;
        font-size: clamp(2.2rem, 3vw, 1rem);
    }

    .child-container{
        margin-top: 30px;
    }

    #about{
        height: unset;
    }

    .flag{
        width: 40px;
    }

}

@media screen and (max-width:576px) {

    .bottom-section-main{
        background-size: 35vh;
    }

    #CTA{
        font-size: 14px;
    }

    #my-email{
        font-size: 12px;
    }

    .card{
        width: auto;
    }
}
